# Python for data: Python & SQL

* Realizar consultas SQL con python en una BD que tengamos.
### ETL
1- Extracción de Datos

2- Transformación

3- Carga a BD

### EDA (Análisis exploratorio del dato)
1- Descarga

2- EDA

In [ ]:
#pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nacho\appdata\local\programs\python\python312\lib\site-packages (2.9.9)Note: you may need to restart the kernel to use updated packages.

In [44]:
import psycopg2
import pandas as pd

* Conexion a BD Código:

```python
conn = psycopg2.connect(host = "localhost",
                        database = "nombre_BBDD", #En nuestro caso Chinook
                        user = "nombre_usuario",
                        password = "contraseña_usuario")

```

In [31]:
conn = psycopg2.connect(host = "localhost",
                        database = "Chinook", #En nuestro caso Chinook
                        user = "postgres", #Usuario por defecto
                        password = "tornado88")

* Compruebo conexion

In [32]:
cursor = conn.cursor()

* Consulta de prueba, si da error se rompe la conexión y hay que volver a conectar.

In [33]:
cursor.execute('Select version();')
cursor.fetchone()

('PostgreSQL 16.1, compiled by Visual C++ build 1937, 64-bit',)

```python

sql_query = '''Consulta de SQL''' #Creo consulta
cursor.execute(sql_query) #Ejecutamos la consulta o query
rows = cursor.fetchall() #Creamos una variable con el result de la query en forma de lista de tuplas

```

In [43]:
conn.rollback()  # Resetea conexion cuando hay error

In [46]:
sql_query = ''' SELECT * 
                FROM "Artist"
                LIMIT 5'''
cursor.execute(sql_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')


```python
rows = cursor.fechall()
tabla = pd.DataFrame(rows) #generamos DF apartir del anterior
colnames = [desc[0] for desc in cursor.description] #recuperamos nombres, cursor.descr devuleve tupla con misma longitud que columnas tenemos en nuestro result de la query. Además el 1º termino de la tupla es el nombre de columna por ello iteramos por tuplas y tomamos el término posicion 0 para crear nuestra lista de nombres de las columnas
tabla = tabla.set_axis(colnames, axis = 1) #renombramos columas del DF creado para que coincida con las de la BBDD
display(tabla)
```

In [51]:
tabla = pd.DataFrame(rows)
colnames = [desc[0] for desc in cursor.description]
tabla = tabla.set_axis(colnames, axis = 1)
tabla

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [ ]:
#Buenas prácticas cierro coneccion
cursor.close()
conn.close()

* Continua optimizado en el fichero 06_Py_Da_Py_SQL_C.ipynb que esta conectado a al la carpeta src y fichero sql.py que abre y cierra directemente conexion con BD.